In [69]:
import pandas as pd

In [70]:
df=pd.read_csv('iris.csv',index_col='Id')#index_col='Id' it is additional column we can remove it or make it as our index
#pd.read_csv('iris.csv',index_col='Id')
df.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
Id
1             5.1           3.5            1.4           0.2        0
2             4.9           3.0            1.4           0.2        0
3             4.7           3.2            1.3           0.2        0
4             4.6           3.1            1.5           0.2        0
5             5.0           3.6            1.4           0.2        0

In [71]:
df.loc[df.Species==0,'Species']='Setosa'
df.loc[df.Species==1,'Species']='Versicolor'
df.loc[df.Species==2,'Species']='Virginica'

In [72]:
df.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
Id
1             5.1           3.5            1.4           0.2  Setosa
2             4.9           3.0            1.4           0.2  Setosa
3             4.7           3.2            1.3           0.2  Setosa
4             4.6           3.1            1.5           0.2  Setosa
5             5.0           3.6            1.4           0.2  Setosa

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [74]:
df.isnull().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [75]:
df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [76]:
df.Species.value_counts()

Setosa        50
Versicolor    50
Virginica     50
Name: Species, dtype: int64

## seprate predictors and target

In [77]:
X=df.iloc[:,:-1]
Y=df.Species

In [78]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=15)# random data will place into test and train

# Train Model

In [79]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(X_train,Y_train)

DecisionTreeClassifier()

# Evaluate Model

In [83]:
Y_predict=model.predict(X_test)

In [84]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [85]:
accuracy_score(Y_test, Y_predict)

0.9333333333333333

In [86]:
pd.crosstab(Y_test, Y_predict)

col_0       Setosa  Versicolor  Virginica
Species
Setosa           8           0          0
Versicolor       0          12          1
Virginica        0           1          8

In [87]:
print(classification_report(Y_test, Y_predict))

              precision    recall  f1-score   support

      Setosa       1.00      1.00      1.00         8
  Versicolor       0.92      0.92      0.92        13
   Virginica       0.89      0.89      0.89         9

    accuracy                           0.93        30
   macro avg       0.94      0.94      0.94        30
weighted avg       0.93      0.93      0.93        30