In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('car_evaluation.csv')
df.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

# Label Encoding
- it work perfect if your data is not orderinal data ordernal means one value is better than other
- it work perfect if your data is nominal means not in order

In [8]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df.buying=le.fit_transform(df.buying)# label encoding df.buying and than store result back in df.buying
df.maint=le.fit_transform(df.maint)
df.lug_boot=le.fit_transform(df.lug_boot)
df.safety=le.fit_transform(df.safety)

In [9]:
df.head()

   buying  maint  doors  persons  lug_boot  safety outcome
0       3      3      2        2         2       1   unacc
1       3      3      2        2         2       2   unacc
2       3      3      2        2         2       0   unacc
3       3      3      2        2         1       1   unacc
4       3      3      2        2         1       2   unacc

## seprate predictors and target

In [11]:
X=df.iloc[:,:-1]
Y=df.outcome

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=10)# random data will place into test and train

# Train Model

In [20]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
model.fit(X_train,Y_train)

RandomForestClassifier()

# Evaluate Model

In [21]:
Y_predict=model.predict(X_test)

In [22]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [23]:
accuracy_score(Y_test, Y_predict)

0.9942196531791907

In [24]:
pd.crosstab(Y_test, Y_predict)

col_0    acc  good  unacc  vgood
outcome
acc       63     0      1      0
good       0    13      0      0
unacc      0     0    251      0
vgood      1     0      0     17

In [27]:
print(classification_report(Y_test, Y_predict))

              precision    recall  f1-score   support

         acc       0.98      0.98      0.98        64
        good       1.00      1.00      1.00        13
       unacc       1.00      1.00      1.00       251
       vgood       1.00      0.94      0.97        18

    accuracy                           0.99       346
   macro avg       1.00      0.98      0.99       346
weighted avg       0.99      0.99      0.99       346