In [8]:
import pandas as pd

In [9]:
df=pd.read_csv('spam.csv',encoding='latin-1')
df.head()

,type,email,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [10]:
df=df.drop(['Unnamed: 2', 'Unnamed: 3','Unnamed: 4'], axis=1)
df.head()

   type                                              email
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [11]:
df.isna().sum()

type     0
email    0
dtype: int64

In [12]:
df.type.value_counts()

ham     4825
spam     747
Name: type, dtype: int64

# TF IDF

In [13]:
df.head()

   type                                              email
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

# model can't work with sentences we will have to perform encoding

In [14]:
    X=df.email
    Y=df.type

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
X_tfidf=tfidf.fit_transform(X)# TF IDF method is apply on predictors

In [16]:
X.head()

0    Go until jurong point, crazy.. Available only ...
1                        Ok lar... Joking wif u oni...
2    Free entry in 2 a wkly comp to win FA Cup fina...
3    U dun say so early hor... U c already then say...
4    Nah I don't think he goes to usf, he lives aro...
Name: email, dtype: object

In [18]:
X_tfidf.toarray()[:5]#0,0,0,0 in output means actual values are middle somewhere in ,...,

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

# Train Test Split

In [35]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X_tfidf,Y,test_size=0.2,random_state=33)

# Train Model

In [36]:
from sklearn.naive_bayes import BernoulliNB
model=BernoulliNB()
model.fit(X_train,Y_train)

BernoulliNB()

## we will enter email and model will predict type of email "spam or ham"

# Evaluate

In [37]:
Y_predict=model.predict(X_test)

In [38]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [39]:
accuracy_score(Y_test, Y_predict)

0.9811659192825112

In [40]:
pd.crosstab(Y_test, Y_predict)

col_0  ham  spam
type
ham    968     2
spam    19   126

In [41]:
print(classification_report(Y_test, Y_predict))

              precision    recall  f1-score   support

         ham       0.98      1.00      0.99       970
        spam       0.98      0.87      0.92       145

    accuracy                           0.98      1115
   macro avg       0.98      0.93      0.96      1115
weighted avg       0.98      0.98      0.98      1115