In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('car_evaluation.csv')

In [4]:
df.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [6]:
df.lug_boot.unique()

array(['small', 'med', 'big'], dtype=object)

In [7]:
temp_df=df.lug_boot

In [8]:
temp_df.head()

0    small
1    small
2    small
3      med
4      med
Name: lug_boot, dtype: object

In [11]:
pd.get_dummies(temp_df)#pd.get_dummies(temp_df,drop_first=True) it will remove big

      big  med  small
0       0    0      1
1       0    0      1
2       0    0      1
3       0    1      0
4       0    1      0
...   ...  ...    ...
1723    0    1      0
1724    0    1      0
1725    1    0      0
1726    1    0      0
1727    1    0      0

[1728 rows x 3 columns]