In [32]:
import pandas as pd

In [33]:
df=pd.read_csv('car_evaluation.csv')
df.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [34]:
df.outcome.unique()

array(['unacc', 'acc', 'vgood', 'good'], dtype=object)

In [35]:
df.info()# Check missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   int64
 3   persons   1728 non-null   int64
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   outcome   1728 non-null   object
dtypes: int64(2), object(5)
memory usage: 94.6+ KB

In [36]:
df.isnull().sum()# Check missing values

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
outcome     0
dtype: int64

In [37]:
df.shape

(1728, 7)

In [38]:
df.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

# ordinal encoding

In [39]:
df.buying.unique()

array(['vhigh', 'high', 'med', 'low'], dtype=object)

In [40]:
buying_map={
    'low':1, 
    'med':2, 
    'high':3, 
    'vhigh':4
}

In [41]:
df.buying=df.buying.map(buying_map)
df.head()

   buying  maint  doors  persons lug_boot safety outcome
0       4  vhigh      2        2    small    low   unacc
1       4  vhigh      2        2    small    med   unacc
2       4  vhigh      2        2    small   high   unacc
3       4  vhigh      2        2      med    low   unacc
4       4  vhigh      2        2      med    med   unacc

In [42]:
df.maint.unique()

array(['vhigh', 'high', 'med', 'low'], dtype=object)

In [43]:
maint_map={
    'low':1, 
    'med':2, 
    'high':3, 
    'vhigh':4
}

In [44]:
df.maint=df.maint.map(maint_map)
df.head()

   buying  maint  doors  persons lug_boot safety outcome
0       4      4      2        2    small    low   unacc
1       4      4      2        2    small    med   unacc
2       4      4      2        2    small   high   unacc
3       4      4      2        2      med    low   unacc
4       4      4      2        2      med    med   unacc

In [45]:
df.lug_boot.unique()

array(['small', 'med', 'big'], dtype=object)

In [46]:
lug_boot_map={
    'small':0, 
    'med':1, 
    'big':2
}

In [47]:
df.lug_boot=df.lug_boot.map(lug_boot_map)
df.head()

   buying  maint  doors  persons  lug_boot safety outcome
0       4      4      2        2         0    low   unacc
1       4      4      2        2         0    med   unacc
2       4      4      2        2         0   high   unacc
3       4      4      2        2         1    low   unacc
4       4      4      2        2         1    med   unacc

In [48]:
df.safety.unique()

array(['low', 'med', 'high'], dtype=object)

In [49]:
safety_map={
    'low':0, 
    'med':1, 
    'high':2
}

In [50]:
df.safety=df.safety.map(safety_map)
df.head()

   buying  maint  doors  persons  lug_boot  safety outcome
0       4      4      2        2         0       0   unacc
1       4      4      2        2         0       1   unacc
2       4      4      2        2         0       2   unacc
3       4      4      2        2         1       0   unacc
4       4      4      2        2         1       1   unacc

# . Seprate preditor and target
# . Train test split size =2.0

In [51]:
X=df.iloc[:,:-1]#select all rows and columns columns expact last one
Y=df.outcome

In [52]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)# random data will place into test and train

In [53]:
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier(n_neighbors=5,p=1)#p=1 for minhantance distence and p=2 to for eucledian distance by defalut minhantance distence
model.fit(X_train,Y_train)

KNeighborsClassifier(p=1)

In [54]:
y_predict=model.predict(X_test)

# Evaluate

In [55]:
from sklearn.metrics import accuracy_score,classification_report

In [56]:
accuracy_score(Y_test,y_predict)

0.9421965317919075

In [57]:
pd.crosstab(Y_test,y_predict)

col_0    acc  good  unacc  vgood
outcome
acc       73     2      3      1
good       0    10      0      0
unacc     10     1    234      0
vgood      1     2      0      9

In [58]:
print(classification_report(Y_test,y_predict))

              precision    recall  f1-score   support

         acc       0.87      0.92      0.90        79
        good       0.67      1.00      0.80        10
       unacc       0.99      0.96      0.97       245
       vgood       0.90      0.75      0.82        12

    accuracy                           0.94       346
   macro avg       0.86      0.91      0.87       346
weighted avg       0.95      0.94      0.94       346