## Some Data Structures in Python

## List
- can be multilpe values
- can be hetrognious
- mutable

In [3]:
list=[1,2,3,4]
print(list)

[1, 2, 3, 4]

In [28]:
list=[1,'name',3,True]#hetrogenious
list.append(4)#to insert single value
print(list)
list.extend([1,2,3])#to enter multiple values
print(list)
list.remove(1)
print(list)
list.pop(2)
print(list)
list.insert(2,2)
print(list)

[1, 'name', 3, True, 4]
[1, 'name', 3, True, 4, 1, 2, 3]
['name', 3, True, 4, 1, 2, 3]
['name', 3, 4, 1, 2, 3]
['name', 3, 2, 4, 1, 2, 3]

In [29]:
print(list[2:5])#: slicing operator

[2, 4, 1]

## Tuple
- can be multilpe values
- can be hetrognious
- not mutable means not changeable/we can not add del or update items in tuple

In [37]:
tuple=(1,'name',3,True)#hetrogenious
print(tuple)
print(tuple[2:4])
#tuple.append(4)#not muteable
#tuple.extend([1,2,3])#not muteable
#tuple.remove(1)#not muteable
#tuple.pop(2)#not muteable
#tuple.insert(2,2)#not muteable

(1, 'name', 3, True)
(3, True)

## Dictionaries
- Used to store key value pair data that is not storeable in list
- Muteable

In [39]:
dict={
    "Fname":'Muhammad',
    "Lname":'Muhammad',
    "Marks":[12,13,1415,121]
}
dict['Fname']

'Muhammad'

## Sets
- Unique means will not print repeating values
- Unorder 'means in which order we enter values it will nat print in that order'

In [44]:
set={2,1,4,3,0,-1,0,1,2}
print(set)

{0, 1, 2, 3, 4, -1}

In [55]:
set2={-1,0,1,2}
set.intersection(set2)#Gives common values in 2 sets
set.union(set2)#Gives common values in 2 sets
set-set2

{3, 4}

## String