In [46]:
import pandas as pd

In [47]:
df=pd.read_csv('car_evaluation.csv')
df.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [48]:
df.shape

(1728, 7)

# Label Encoding
- it work perfect if your data is not orderinal data ordernal means one value is better than other
- it work perfect if your data is nominal means not in order|

In [49]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df.buying=le.fit_transform(df.buying)# label encoding df.buying and than store result back in df.buying
df.maint=le.fit_transform(df.maint)
df.lug_boot=le.fit_transform(df.lug_boot)
df.safety=le.fit_transform(df.safety)

In [50]:
df.head()

   buying  maint  doors  persons  lug_boot  safety outcome
0       3      3      2        2         2       1   unacc
1       3      3      2        2         2       2   unacc
2       3      3      2        2         2       0   unacc
3       3      3      2        2         1       1   unacc
4       3      3      2        2         1       2   unacc

## seprate predictors and target

In [51]:
X=df.iloc[:,:-1]
Y=df.outcome

In [52]:
X.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [53]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=10)# random data will place into test and train

In [54]:
X_train.shape

(1209, 6)

# Train Model

In [55]:
from sklearn.svm import SVC# SVC means Support vector Classifier bcz target is string
model=SVC(kernel='rbf',C=5,gamma=0.5)
model.fit(X_train,Y_train)

SVC(C=5, gamma=0.5)

# Evaluate Model

In [56]:
Y_predict=model.predict(X_test)

In [57]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [58]:
accuracy_score(Y_test, Y_predict)

0.9903660886319846

In [59]:
pd.crosstab(Y_test, Y_predict)

col_0    acc  good  unacc  vgood
outcome
acc       98     0      3      1
good       0    21      0      0
unacc      0     0    371      0
vgood      1     0      0     24

In [60]:
print(classification_report(Y_test, Y_predict))

              precision    recall  f1-score   support

         acc       0.99      0.96      0.98       102
        good       1.00      1.00      1.00        21
       unacc       0.99      1.00      1.00       371
       vgood       0.96      0.96      0.96        25

    accuracy                           0.99       519
   macro avg       0.99      0.98      0.98       519
weighted avg       0.99      0.99      0.99       519

In [61]:
from sklearn.model_selection import GridSearchCV
Parameters={
    'kernel':['rbf'],
     'C':[1,10,10,500,1000,10000],
    'gamma':[0.01,0.1,0.5,1]
}
grid_model=GridSearchCV(SVC(),Parameters)
grid_model.fit(X_train,Y_train)

GridSearchCV(estimator=SVC(),
             param_grid={'C': [1, 10, 10, 500, 1000, 10000],
                         'gamma': [0.01, 0.1, 0.5, 1], 'kernel': ['rbf']})

In [62]:
grid_model.best_score_

0.9842803744727547

In [63]:
grid_model.best_params_

{'C': 500, 'gamma': 0.1, 'kernel': 'rbf'}

In [64]:
grid_model.refit_time_

0.08692216873168945